@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
*@

@page "/modelforms/formwithoutline"
@inherits DemoPage

<div style="position: relative">
    <DemoSection Path="./Samples/Examples/TransportStarshipFormOutline.razor" AdditionalCs="./Samples/TransportStarship.cs">
        <MudForms.Documentation.Samples.Examples.TransportStarshipFormOutline/>
    </DemoSection>
</div>

@code {

}