@*
    Copyright (c) 2021 Apption Corporation
*@

@inherits LayoutComponentBase
@using Elemental.Code

<AeLayout Links="_navLinks">
    <Brand>
        <AeFlex>
            <img src="/_content/MudForms.Documentation/img/Elemental_128x128.png" style="max-height: 50px; padding-right:4px;" />
            <AeTypography Variant="h2" style="text-align: center; padding: 0rem 0rem 0rem; margin: auto;">elemental</AeTypography>
        </AeFlex>
    </Brand>
    <Body>
        <AeTypography Variant="h1" style="text-align: center;">Elemental</AeTypography>
        <AeFlex Vertical style="width: 840px; padding: 0rem 2rem 5rem; margin: auto;">
            @Body
        </AeFlex>
    </Body>
</AeLayout>

@code {

    private List<AeNavLink> _navLinks = new List<AeNavLink>
    {
        new AeNavLink{ Label = "Home", To = "/", IconName = "function", IconStyle = RXIcon.RXStyle.Fill, Color = "blue" },
        new AeNavLink{ Label = "Basic Form", To = "/modelforms/basicform", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
        new AeNavLink{ Label = "Top Labels", To = "/modelforms/toplabelsform", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
        new AeNavLink{ Label = "Custom Labels", To = "/modelforms/customlabelsform", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
        new AeNavLink{ Label = "Form With Categories", To = "/modelforms/formwithcategories", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
        new AeNavLink{ Label = "Form With Outline", To = "/modelforms/formwithoutline", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
        new AeNavLink{ Label = "Interactive Form", To = "/modelforms/interactiveform", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
        new AeNavLink{ Label = "Flex Form", To = "/modelforms/flexform", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
        new AeNavLink{ Label = "Flex Form with Categories", To = "/modelforms/flexformwithcategory", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
        new AeNavLink{ Label = "Interactive Dropdowns", To = "/modelforms/interactivedropdowns", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
        new AeNavLink{ Label = "Custom Validation", To = "/modelforms/customvalidationform", IconName = "focus", IconStyle = RXIcon.RXStyle.Fill, Color = "green" },
    };

}